{% extends 'base.html.twig' %}

{% block title %}Nouveau coach{% endblock %}

{% block body %}
    <h1>Nouveau Coach</h1>

    {{ include('admin/user/_form.html.twig') }}
    <div class="text-center">
        <a class="btn my-3" href="{{ path('admin_U_user_index') }}">Retour</a>
    </div>
{% endblock %}
