{% extends 'base.html.twig' %}

{% block title %}Nouveau programme{% endblock %}

{% block body %}
    <h1 class="text-center my-3">Nouveau programme</h1>

    {{ include('admin/program/_form.html.twig') }}
    <div class="text-center">
        <a class="btn my-3" href="{{ path('admin_P_program_index') }}">Retour</a>
    </div>
{% endblock %}
