<h1>Bonjour! Veuillez confirmer votre email s'il vous plaît!</h1>

<p>
    Confirmer votre adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Sportivement !
</p>
