/*nav*/

.logoSpinner {
  width: 10vw;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.logo {
  text-align: center;
}
.container-fluid {
  background-color: #286335;
  color: #ffffff;
}
.container-fluid a {
  color: #ffffff !important;
}
.container-fluid a :hover {
  color: #00e132 !important;
}
.container-fluid :hover {
  background-color: #286335 !important;
}
ul.show > li:nth-child(1) > a:nth-child(1):hover,
ul.show > li:nth-child(2) > a:nth-child(1):hover,
ul.show > li:nth-child(3) > a:nth-child(1):hover,
ul.show > li:nth-child(4) > a:nth-child(1):hover,
ul.show > li:nth-child(5) > a:nth-child(1):hover,
ul.show > li:nth-child(6) > a:nth-child(1):hover,
ul.show > li:nth-child(7) > a:nth-child(1):hover {
  color: #00e132 !important;
}
ul.show {
  background-color: #286335;
}
.navbar-brand {
  font-family: "Bowlby One", cursive;
  font-size: 3em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 2vw;
}
.navbar-nav {
  margin-left: 20vw;
}
.navbar {
  padding: 0;
}

/*content home*/
body {
  margin: 0;
  width: 100%;
}

.titre {
  color: #ffffff;
  text-align: center;
  font-family: "Bowlby One";
}
.container {
  width: 100%;
  max-width: 100% !important;
  height: 300vh;
  background-image: url("../img/backgroundHome.jpeg");
  background-size: contain;
}
.article {
  color: #ffffff;
}
.btn {
  background-color: #286335;
  color: #ffffff;
  border: 1px solid #286335;
}
.btn:hover {
  background-color: #ffffff;
  color: #286335;
  border: 1px solid #286335;
}
/*Admin*/

.row {
  margin-left: 5vw;
  margin-right: 5vw;
}
.col-sm-4 {
  margin-top: 1vw;
  margin-bottom: 1vw;
  text-align: center;
  opacity: 0.9;
}

.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1) !important;
}
.grass {
  background-image: url("../img/grass.jpg");
  background-size: contain;
  height: 80vh;
}
.adminUserAvatar {
  width: 100px;
  height: 100px;
  background-image: url(..//img/user-secret-solid.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.userAvatar {
  width: 100px;
  height: 100px;
}
