{% extends 'base.html.twig' %}

{% block title %}Nouveau résultat{% endblock %}

{% block body %}
    <h1 class="text-center my-3">Nouveau résultat</h1>

    {{ include('admin/result/_form.html.twig') }}
    <div class="text-center">
        <a class="btn my-3" href="{{ path('admin_R_result_index') }}">Retour</a>
    </div>
{% endblock %}
