{% extends 'base.html.twig' %}

{% block title %}New Result{% endblock %}

{% block body %}
    <h1>Create new Result</h1>

    {{ include('admin/result/_form.html.twig') }}

    <a href="{{ path('admin_R_result_index') }}">back to list</a>
{% endblock %}
