<form method="post" action="{{ path('admin_C_convocation_delete', {'id': convocation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette convocation ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ convocation.id) }}">
    <button class="btn">Supprimer</button>
</form>
