{% extends 'base.html.twig' %}

{% block title %}New Convocation{% endblock %}

{% block body %}
    <h1>Create new Convocation</h1>

    {{ include('admin/convocation/_form.html.twig') }}

    <a href="{{ path('admin_C_convocation_index') }}">back to list</a>



{% endblock %}

{% block javascripts %}
{{ parent () }}
<script>
var $team = $('#convocation_team');
var $token = $('#convocation__token');

// When team gets selected ...
$team.change(function() {
  // ... retrieve the corresponding form.
  var $form = $(this).closest('form');
  // Simulate form data, but only include the selected team value.
  var data = {};
  data[$team.attr('name')] = $team.val();
  data[$token.attr('name')] = $token.val();
  console.log(data);
  // Submit data via AJAX to the form's action path.
  $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    success: function(html) {
        console.log(html);
      // Replace current user field ...
      $('#convocation_user').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#convocation_user')
      );
      // Position field now displays the appropriate positions.
    }
  });
});
</script>


{% endblock %}