{% extends 'base.html.twig' %}

{% block title %}Modifier équipe{% endblock %}

{% block body %}
    <h1 class="text-center my-3">Modifier une équipe</h1>

    {{ include('admin/team/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="text-center">
    <a class="btn my-3" href="{{ path('admin_T_team_index') }}">Retour</a>
    </div>
{% endblock %}
