<div class='logo'><img class='imgLogo' src='img/logo.png' alt='logo ASPN'></img></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('home')}}">ASPN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('home')}}">Accueil</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actualités
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/program">Programme</a></li>
            <li><a class="dropdown-item" href="/result">Résultats</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Le club
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/user/leadership">Bureau</a></li>
            <li><a class="dropdown-item" href="">Staff</a></li>
            <li><a class="dropdown-item" href="/user/referee">Nos arbitres</a></li>
            <li><a class="dropdown-item" href="">Notre structure</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Équipes
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for team in teamService.teams %}
            <li><a class="dropdown-item" href="{{ path('front_T_team_show', { 'id': team.id }) }}">{{ team.name }}</a></li>
            {% endfor %}
            <li><a class="dropdown-item" href="">U18</a></li>
            <li><a class="dropdown-item" href="">U15</a></li>
            <li><a class="dropdown-item" href="">U13</a></li>
            <li><a class="dropdown-item" href="">U11</a></li>
            <li><a class="dropdown-item" href="">U9</a></li>
            <li><a class="dropdown-item" href="">U7</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Convocations
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/convocation/seniors1">Séniors 1</a></li>
            <li><a class="dropdown-item" href="/convocation/seniors2">Séniors 2</a></li>
            <li><a class="dropdown-item" href="/convocation/feminines">Féminines</a></li>
            <li><a class="dropdown-item" href="/convocation/loisirs">Loisirs</a></li>
            <li><a class="dropdown-item" href="">U18</a></li>
            <li><a class="dropdown-item" href="">U15</a></li>
            <li><a class="dropdown-item" href="">U13</a></li>
            <li><a class="dropdown-item" href="">U11</a></li>
            <li><a class="dropdown-item" href="">U9</a></li>
            <li><a class="dropdown-item" href="">U7</a></li>
          </ul>
        </li>

         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/register">Inscription</a>
        </li>
       
       {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Déconnexion</a></li>
          <a class="nav-link" href="/admin/article">Admin</a></li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Connexion</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>