{% extends 'front/layout.html.twig' %}

{% block title %}ASPN{% endblock %}

{%block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}

 {% for program in programs %}
            <div>
                <p>{{ program.date ? program.date|date('d-m-Y') : '' }}</p>
                <p>{{ program.content }}</p>
            </div>
{% endfor %}
{% endblock %}