{% extends 'front/layout.html.twig' %}

{% block title %}ASPN Arbitres{% endblock %}

{%block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}

 {% for user in users %}
            
                <p>{{ user.lastname }} {{ user.firstname }}</p>
                <img src="{{ vich_uploader_asset(user, 'file') }}" />
{% endfor %}
{% endblock %}